#result-page-content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);     
    margin: 0 auto;
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "aside aside main main main main main main main main section section"
    "aside aside main main main main main main main main section section"
    "aside aside main main main main main main main main section section"    
}

#result-page-content > *{
    border: 1px rgb(194, 190, 190) solid;
    padding: 20px;    
}

#result-header{
    grid-area: header;
    padding: 15px !important;
}
#result-main{
    grid-area: main;
    height: 100%;    
}
#result-aside{
    grid-area: aside;
    max-height: 600px !important;
    min-height: 600px !important;
    /* height: 100%; */
}
#result-section{
    grid-area: section;
    height: 100%;
}