#page-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "article article article main main main main main main main main main"
        "article article article main main main main main main main main main"
        "article article article main main main main main main main main main";
}

article {
    grid-area: article;
    max-height: 700px !important;
    min-height: 700px !important;
}

#question-header {
    grid-area: header;
    padding: 15px !important;
}

main {
    grid-area: main;
    height: 100%;
}

#page-content>* {
    /* background: #3bbced; */
    border: 1px rgb(194, 190, 190) solid;
    padding: 20px;
}

.unpublished-questions:hover {
    cursor: pointer;
}

.question-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected-question {
    background-color: #a3a9ad;
    padding-top: 15px;
    padding-bottom: 15px;
    /* color: white !important; */
    border-radius: 5px;
}

.question-pic {
    width: 230px !important;
}

.quest-picture {
    height: 170px !important;
}

.text-editor {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
}

.display-if-question-selected{
    display: none;
}


@media (max-width: 768px) {
    #page-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin: 0 auto;
        grid-template-areas:
            "header header header header header header"
            "article article article article article article "
            "main main main main main main";
    }

    article {
        min-height: 400px !important;
        max-height: 400px !important;
    }

    .main-question-details {
        display: flex;
        flex-direction: column;
    }

}