@media (min-width: 1182px) {
    #page-content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin: 0 auto;
        grid-template-areas:
            "header header header header header header header header header header header header"
            "article article main main main main main main main main section section"
            "article article main main main main main main main main section section"
            "article article main main main main main main main main section section";
    }



    article {
        max-height: 700px !important;
        min-height: 700px !important;

    }

    section {
        grid-area: section;
        height: 100%;
    }
}

header {
    grid-area: header;
    padding: 15px !important;
}

article {
    grid-area: article;

}

main {
    grid-area: main;
    height: 100%;
}

#page-content>* {
    /* background: #3bbced; */
    border: 1px rgb(194, 190, 190) solid;
    padding: 20px;
}

.unpublished-questions:hover {
    cursor: pointer;
}



.question-text {
    white-space: nowrap;
    /* Prevent text wrapping */
    overflow: hidden;
    /* Hide any text that overflows */
    text-overflow: ellipsis;
    /* Show an ellipsis (...) for truncated text */
}

.selected-question {
    background-color: #6C757D;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white !important;
    border-radius: 5px;
}

.question-pic {
    width: 230px !important;
}

.quest-picture {
    height: 170px !important;
}

@media (max-width: 768px) {
    #page-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin: 0 auto;
        grid-template-areas:
            "article article article article article article "
            "main main main main main main"
    }

    article {
        min-height: 400px !important;
        max-height: 400px !important;
    }

    .main-question-details {
        display: flex;
        flex-direction: column;
    }

    header {
        display: none;
    }

    section {
        display: none;
    }
}