.take-quiz-picture{
    height: 200px !important;
    width: 300px;
}
.quiz-picture{
    height: 300px !important;
    width: 100%;
}
.question-picture{
    height: 200px !important;
    width: 300px;
}

@media (max-width: 1182px) {
    .details{
        display: flex;
        flex-direction: column;
    }

    .quiz-picture{
        height: 200px !important;
        width: 100%;
        margin-bottom: 20px;
    }
    
}